a {
  margin: 0.5em;
}
.protocol-selector {
  display: inline-block;
  margin: 0.5em;
  float: right;

}
/* Print-specific styles */
@media print {
  body, html {
    width: 100%;
  }

  .autopsy-report {
    max-width: 100%;
    page-break-after: always;
  }

  button {
    display: none; /* Hide buttons and other UI elements not needed in print */
  }
  .noprint {
    display: none;
  }

  /* Add more print-specific styling as needed */
}
