
<mat-toolbar color="primary" class="noprint">
  <a mat-icon-button [routerLink]="['/home']" matTooltip="back to home">
    <mat-icon>home</mat-icon>
  </a>
  <mat-slide-toggle (change)="toggleEditMode($event.checked)" color="primary" [checked]="isEditing" matTooltip="Toggle edit mode"></mat-slide-toggle>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="deleteAutopsy()" matTooltip="Delete Autopsy"><mat-icon>delete</mat-icon></button>
  <app-autopsy-upload></app-autopsy-upload>
  <button mat-icon-button (click)="downloadAutopsy()" matTooltip="Download Autopsy"><mat-icon>download</mat-icon></button>
  @if (isEditing) {
    <button mat-icon-button (click)="triggerSaveAutopsy()" matTooltip="Save Autopsy"><mat-icon>save</mat-icon></button>
  }
  @if (!isEditing && !isElectron()) {
    <button mat-icon-button (click)="print()" matTooltip="Print"><mat-icon>print</mat-icon></button>
  }
  @if (!isEditing && isElectron()) {
    <button mat-icon-button (click)="printToPDF()" matTooltip="Print to PDF"><mat-icon>print</mat-icon></button>
  }
  <a mat-icon-button [routerLink]="['/autopsy/new/edit']" matTooltip="new protocol">
    <mat-icon>add</mat-icon>
  </a>
  <button mat-icon-button [matMenuTriggerFor]="protocolsMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #protocolsMenu="matMenu">
    @for (protocol of protocols; track protocol) {
      <button mat-menu-item (click)="onProtocolSelect(protocol.id)">
        {{ protocol.caseNumber }}
      </button>
    }
  </mat-menu>
</mat-toolbar>

@if (!isEditing) {
  <app-autopsy-display [protocol]="autopsyData"></app-autopsy-display>
}
@if (isEditing) {
  <app-autopsy-edit [protocol]="autopsyData" (saveProtocol)="saveAutopsy($event)"></app-autopsy-edit>
}
