
<mat-toolbar color="primary" class="noprint">
  <a mat-icon-button [routerLink]="['/home']" matTooltip="back to home">
    <mat-icon>home</mat-icon>
  </a>
  <mat-slide-toggle (change)="toggleEditMode($event.checked)" color="primary" [checked]="isEditing" matTooltip="Toggle edit mode"></mat-slide-toggle>
  <span class="example-spacer"></span>
  <button mat-icon-button *ngIf="isEditing" (click)="triggerSaveAutopsy()" matTooltip="Save Autopsy"><mat-icon>save</mat-icon></button>
  <button mat-icon-button *ngIf="!isEditing && !isElectron()" (click)="print()" matTooltip="Print"><mat-icon>print</mat-icon></button>
  <button mat-icon-button *ngIf="!isEditing && isElectron()" (click)="printToPDF()" matTooltip="Print to PDF"><mat-icon>print</mat-icon></button>
  <a mat-icon-button [routerLink]="['/autopsy/new/edit']" matTooltip="new protocol">
    <mat-icon>add</mat-icon>
  </a>
  <button mat-icon-button [matMenuTriggerFor]="protocolsMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #protocolsMenu="matMenu">
    <button mat-menu-item *ngFor="let protocol of protocols" (click)="onProtocolSelect(protocol.id)">
      {{ protocol.caseNumber }}
    </button>
  </mat-menu>
</mat-toolbar>

<app-autopsy-display *ngIf="!isEditing" [protocol]="autopsyData"></app-autopsy-display>
<app-autopsy-edit *ngIf="isEditing" [protocol]="autopsyData" (saveProtocol)="saveAutopsy($event)"></app-autopsy-edit>
